$brand-footer: #111;

*{
  outline: none !important;
}

body{

}

.App {
  text-align: center;
}

.App--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  height: 10%;
  padding: 1%;
  color: #222;
  box-sizing: border-box;
}

.App--header--logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App--footer {
  display:table;
  position:fixed;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:5%;
  background-color:$brand-footer;
}

.App--footer--inner{
  display:table-cell;
  width:100%;
  height:100%;
  vertical-align: middle;
  color:#fafafa;
  border-top: double 3px;
}

.App--footer--inner > *{
  display:inline-block;
  vertical-align: middle;
}

.App--footer--inner > img{
  margin-left:.5em;
}

.App--intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
